:root{
    --smoky-dark-color:#14110F;
    --jet-color:#14110F;
    --gray-color:#7E7F83;
    --dun-color:#D9C5B2;
    --white-anti-flash-color:#F3F3F4;
    --violet-color:#541269;
    --violet-2-color:#6c4777;
}